 <div class="center jumbotron" id="jumbotron2">
</div>
<div class="card text-center">
  <div class="card-header">
    Operations
  </div>
  <div class="card-body">
    <h5 class="card-title">Sonali Patel</h5>
    <p class="card-text">Director of operations.</p>
  </div>
  <div class="card-footer text-muted">
    sonalipatel@tamu.edu
  </div>
</div>
