<h1>Closet Rent System</h1>
  <div class="center jumbotron">

  <h2>
    This is 
    <a href="http://www.tamucareercloset.com/">TAMU Career Closet</a>
    service.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>



