<% provide(:title, "Edit") %>
<h1>Edit suits information</h1>

<%= render 'form', suits: @suit %>

<center>
    <%= link_to 'Back to Inventory', suits_path, {:class => "btn btn-default"}%>
</center>


