@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}


@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.navbar-default .navbar-brand {
    color: #600024;
}
.navbar-brand {
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
    font-family: "Georgia","serif";
    text-transform: uppercase;
    font-weight: bold;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

.time_sheet {
    float: right;
    width: 62%;
    margin-top: 0;
    padding-bottom: 5px;
}

.time_sheet ul.morning {
    padding-left: 10px;
}
.time_sheet ul {
    float: left;
    padding: 0 4% 0 0;
        padding-left: 0px;
    width: 28%;
    min-height: 205px;
}

ul li.list_heading {
    font-size: 20px;
    color: #444;
    font-weight: 700;
    text-align: center;
    padding-top: 0;
}

.time_sheet ul li {
    font-size: 12px;
    padding: 5px 0 0;
    text-align: center;
    margin-bottom: 0;
    width: 100%;
    display: block;
}

.time_sheet ul li a {
    color: #1a93d0;
    font-weight: 600;
    padding: 5px 0;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 2px;
    margin: 0;
    width: 100%;
    display: block;
}

.datepicke_holder {
    width: 35%;
    height: 420.333px;
    float: left;
    margin-top: 0;
    margin-left: 5px;
}


.time_sheet a.on { 
    background: yellow; 
}
.time_sheet a.off { 
    background: white; 
}



@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}