@import "bootstrap-sprockets";
@import "bootstrap";
.navbar-default .navbar-brand {
    color: #600024;
}
#jumbotron1{
    background-image: url('jum.jpeg');
    background-size: cover;
    height: 550px;
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    margin-top: 10px;
}
#jumbotron2{
    background-image: url('helppage.jpeg');
    background-size: cover;
    height: 550px;
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    margin-top: 10px;
}
.card-header{
    color: #600024;
    font-family: "Georgia","serif";
    font-size: 50px;
}
.card-title{
    font-size: 30px;
}
.card-text{
    font-size: 30px;
}
.card-footer{
    font-size: 20px;
}