// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.only-bottom-margin {
  margin-top: 0px;
}

.activity-mini {
  padding-right: 15px;
  float: left;
}