<h1>Editing Appointment</h1>

<%= render 'form' %><br>

<center>
    <div class="btn-group">
        <%= link_to 'Show', @appointment, {:class => "btn btn-default"}  %>
        <%= link_to 'Back', appointments_path, {:class => "btn btn-default"}  %>
    </div>
</center>
